*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{

    background-color: powderblue;
}
.main{
    /* position: relative; */
    background-color: red;
    width: 80%;
    height: 600px;
    border-radius: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main h1{
    background-color: gray;
    padding: 10px 50px ;
    border-radius: 20px;

}
.btn{
    width: 100%;
    padding: 10px;
    /* display: block; */
    /* position: relative; */
    /* background-color: black; */
    /* width: 100%; */
    display: flex;
    /* height: max-content; */
    padding-top: 50px;
    justify-content: space-around;

}
.btn button {
    display: block;
    /* margin: 20px; */
    background-color: yellow;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
